.card{
    position: relative;
    text-align: center;
    margin: 100px 300px;
    width: 420px;
    height: 265px;
    transform-style: preserve-3d;
    perspective: 600px;
    border: 1px solid #ccc;
    border-radius: 16px;
    cursor: pointer;
    
}


.card-front,
.card-back{
    width: 420px;
    height: 265px;
    position: absolute;
    backface-visibility: hidden;
    transition: all 2s ease;
}
.card-front{
    background-image: url(images/front.png);
}
.card-back{
    transform: rotateY(180deg);
    background-image: url(images/back.png);
}
.card.active .card-back{
    transform: rotateY(360deg);
}
.card.active .card-front{
    transform: rotateY(180deg);
}


.card-input{
    position: absolute;
    background-color: transparent;
    color: #ffd0ca;
    border: 1px solid transparent;
}
.card-input:focus{
    border: 1px solid #ccc;
}

.card-number{
    position: absolute;
    top: 139px;
    width: 370px;
    height: 40px;
    left: 23px;
    font-size: 33px;
    letter-spacing: 2.8px;
    color: #ffd0ca;
    background-color: transparent;
}
.card-date{
    width: 64px;
    height: 23px;
   
    top: 190px;
    left: 23px;
   
    font-size: 21px;
    letter-spacing: 2.4px;
   
}
.card-name{
    width: 271px;
    height: 26px;
    bottom: 10px;
    left: 23px;
    font-size: 21px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}
.card-ccv{
    right: 26px;
    top: 101px;
    width: 53px;
    height: 25px;
    background-color: #fff;
    color: #000;
    font-size: 19px;
    letter-spacing: 2.4px;
    text-align: center;
}

.btn{
        position: absolute;
        bottom: 0;
        background-color: red;
        cursor: pointer;
}